.read-container {
  width: 80%;
  margin: 40px auto;
}

.read-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.create-btn {
  float: right;
  padding: 8px 14px;
  background-color: #6c757d;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  margin-bottom: 10px;
}

.create-btn:hover {
  background-color: #5a6268;
}

/* TABLE */
.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.user-table th,
.user-table td {
  border-bottom: 1px solid #ccc;
  padding: 12px;
  text-align: left;
}

.user-table th {
  font-weight: bold;
}

/* BUTTONS */
.btn-edit {
  background-color: #198754;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-edit:hover {
  background-color: #157347;
}

.btn-delete {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-delete:hover {
  background-color: #bb2d3b;
}
